<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p><br><br><br>
    <p>Welcome to INDIA teh master of all contries and <%= cat %></p>
    <!--<img src='../images/1.JPG' width="50%"></img>-->
      <form method="POST" >
            Enter the username      : <input name="username" type="text" > <br><br>
            Enter the phone         : <input name="phone" type="text" > </input><br><br>
            Enter the email address : <input name="email" type="text" > </input><br><br>
            Enter the password      : <input name="password" type="password" > </input><br><br>
      <input type="submit">
      </form>

  </body>
</html>
