<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h3> A user with username <h1><%= username %></h1> has phone no <h1><%= phone %></h1> and email id <h1><%= email %></h1>is registered</h3>
    
     
    
  </body>
</html>
